<section>
  <% if @message.errors && !@message.errors.messages.empty? %>
  <div class="error">
    <h3>Your message couldn&rsquo;t be saved due to the following error:</h3>
    <ul>
      <% @message.errors.messages.each_pair do |attr_name, messages| %>
      <% messages.each do |msg| %>
      <li><%= attr_name.capitalize %> <%= msg %>.</li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
  
  <% if @message.new_record? %>
  <h2>New Message</h2>
  <% else %>
  <h2>Edit Message</h2>
  <% end %>

  <form action="/app/messages" method="post">
    <%= Rack::Csrf.tag(env) %>
    <div>
      <label>Content</label>
      <% if !@message.new_record? %>
      <input type="hidden" name="id" value="<%= @message.id %>"></input>
      <% end %>
      <textarea name='content' placeholder="Enter your message…"><%= @message.content %></textarea>
      <span class="delay">
        <label>Send After:</label>
        <input name='delay_value' type="number" placeholder="0" value="<%= delay_value(@message) %>"></input> 
        <select name='delay_type' value="<%= delay_type(@message) %>">
          <% ["minutes", "hours", "days", "weeks", "months"].each do |delay_type| %>
          <% selected = delay_type(@message) == delay_type ? "selected" : nil %>
          <option value="<%= delay_type %>" <%= selected %>><%= delay_type %></option>
          <% end %>
        </select>
      </span>
    </div>
    <button class='primary' type="submit"><span>Save Message</span></button>  
  </form>
</section>